<section>
  <div class="container-fluid h-80 pt-4">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="registerForm" (ngSubmit)="submitRegisterForm(registerForm)">
          <!-- Form fields here -->

            <!-- Name input -->
            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
              <div data-mdb-input-init class="form-outline flex-fill mb-0">
                <input formControlName = "first_name" type="text" id="form3Example1c" class="form-control" />
                <label for="first_name" class="form-label" for="form3Example1c">Your Name</label>
                <!-- error-->
                <div *ngIf="registerForm.get('first_name')?.errors && registerForm.get('first_name')?.touched"
                    class="p-1 text-primary-emphasis  text-white rounded-3 error">
                     <p *ngIf="registerForm.get('first_name')?.getError('required')">first_name is required</p>
                     <p *ngIf="registerForm.get('first_name')?.getError('minlength')">first_name is minlength is 3</p>
                     <p *ngIf="registerForm.get('first_name')?.getError('maxlength')">first_name is maxlength is 8</p>
                </div>
                <!-- error -->
              </div>
          </div>

          <!-- Email input -->
          <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
              <div data-mdb-input-init class="form-outline flex-fill mb-0">
                <input formControlName="email" type="email" id="form3Example3c" [(ngModel)]="email" class="form-control" />
                <label for="email" class="form-label" for="form3Example3c">Your Email</label>
                <!-- error-->
                <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched"
                    class="p-1 text-primary-emphasis  text-white rounded-3 error">
                     <p *ngIf="registerForm.get('email')?.getError('required')">email is required</p>
                     <p *ngIf="registerForm.get('email')?.getError('email')">email is not valid</p>
                </div>
                <!-- error -->
              </div>
          </div>
          <!-- password input-->
            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-key fa-lg me-3 fa-fw"></i>
              <div data-mdb-input-init class="form-outline flex-fill mb-0">
                <input formControlName="password" type="password" id="form3Example4cd" [(ngModel)]="password" class="form-control" minlength="3" maxlength="6"/>
                <label for="password" class="form-label" for="form3Example4cd">your password</label>
                <!-- error-->
                <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched"
                    class="p-1 text-primary-emphasis  text-white rounded-3 error">
                     <p *ngIf="registerForm.get('password')?.getError('required')">password is required</p>
                     <p *ngIf="registerForm.get('password')?.getError('pattern')">password must be uppercase</p>
                     <p *ngIf="registerForm.get('password')?.getError('minlength')">minlength of password is 3</p>
                     <p *ngIf="registerForm.get('password')?.getError('maxlength')">maxlength of password is 6</p>
                </div>
                <!-- error -->
              </div>
            </div>
          <!--  password input-->
            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-key fa-lg me-3 fa-fw"></i>
              <div data-mdb-input-init class="form-outline flex-fill mb-0">
                <input formControlName="reset_password" type="password" id="form3Example4cd" class="form-control" minlength="3" maxlength="6"/>
                <label for="reset_password" class="form-label" for="form3Example4cd">Repeat your password</label>
                <!-- error-->
                <div *ngIf="registerForm.get('reset_password')?.errors && registerForm.get('reset_password')?.touched"
                    class="p-1 text-primary-emphasis  text-white rounded-3 error">
                     <p *ngIf="registerForm.get('reset_password')?.getError('required')">password is required</p>
                     <p *ngIf="registerForm.get('reset_password')?.getError('pattern')">password is minlength is 3</p>
                     <p *ngIf="registerForm.get('reset_password')?.getError('minlength')">password is minlength is 3</p>
                     <p *ngIf="registerForm.get('reset_password')?.getError('maxlength')">password is minlength is 3</p>
                </div>
                <!-- error -->
              </div>
            </div>

            <div class="form-check d-flex justify-content-center mb-5">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
              <label class="form-check-label" for="form2Example3">
                I agree all statements in <a href="#!">Terms of service</a>
              </label>
            </div>

            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
              <button  
                  type="button" 
                  data-mdb-button-init data-mdb-ripple-init 
                  class="btn btn-primary btn-lg"
                  (click)="submitRegisterForm(registerForm)"
              >Register</button>
            </div>
          <!-- <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button type="submit" class="btn btn-primary btn-lg">Register</button>
          </div> -->
        </form>
      </div>
    </div>
  </div>

  <!-- Loading Spinner -->
  <div *ngIf="loading" class="loading-overlay">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</section>
