<!-- start about_us-->
<section class="about_us">
    <div class="container">
        <h3>About Us</h3>
        <p>
            THESE ONLINE COURSES ARE BEAUTIFULY PRESENTED IN A MOOULAR
            STYLE THAT BUILDS YOUR KNOWLEDGE AND UNDERSTANDING
            THE TIME PROVEN STEP-BY-STEP MANNER
        </p>
    </div>
</section>
<!-- end about_us -->
<!-- start live_academy-->
<section class="live_academy">
    <div class="container">
        <div class="live_academy_text">
            <h3>Live Academy</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo maxime voluptatem quo? Dolor reiciendis nemo magni doloribus quisquam ut eligendi quas odit temporibus sit! Repellat veniam dolorum dolores sunt consectetur?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo voluptas sapiente sed molestiae labore vero est atque, suscipit mollitia quis, nam maxime ex officia ducimus culpa laudantium tenetur ipsa id.</p>  
        </div>
        <div class="live_academy_text"></div>
    </div>
</section>
<!-- end live_academy -->
<!--start exclusive courses -->
<div class="exclusive_courses">
     <div class="container">
        <!-- start exclusive_courses -->
        <div class="exclusive_courses_text pb-5">
            <h3>Exclusive Courses</h3>
            <p>TO SEE THE DIFFERENT COURSES THAT EXCLUSIVE ACADEMY HAS GOT GOING ON THROUGHOUT THE YEAR PLEASE SELECT A ONE!</p>
        </div>
        <!-- end exclusive_courses -->
        <!-- start courses-->
        <div class="courses">
            <div class="container">
                <!-- start row -->
                <div class="row pb-5">
                    <!-- start-box -->
                    <div class="box col-lg-6">
                        <div class="box-text">
                            <h3>Online Courses</h3>
                            <img src="../../../assets/Images/proxy-image (3).jpg" alt="no_pic"/>
                            <span class="price">200$</span>
                            <button class="btn btn-warning m-auto w-25">join Now!</button>
                        </div>
                    </div>
                    <!-- end-box -->
                    <!-- start-box -->
                    <div class="box col-lg-6">
                        <div class="box-text">
                            <h3>Web Site</h3>
                            <img src="../../../assets/Images/proxy-image (4).jpg" alt="no_pic"/>
                            <span class="price">100$</span>
                            <button class="btn btn-warning m-auto w-25">join Now!</button>
                        </div>
                    </div>
                    <!-- end-box-->
                </div>
                <!-- end row -->
                <!-- start row-->
                <div class="row pb-5">
                     <!-- start-box -->
                     <div class="box col-lg-6">
                        <div class="box-text">
                            <h3>Online Braimstorming</h3>
                            <img src="../../../assets/Images/proxy-image (2).jpg" alt="no_pic"/>
                            <span class="price">100$</span>
                            <button class="btn btn-warning m-auto w-25">join Now!</button>
                        </div>
                    </div>
                    <!-- end-box-->
                     <!-- start-box -->
                     <div class="box col-lg-6">
                        <div class="box-text">
                            <h3>Online Consultation</h3>
                            <img src="../../../assets/Images/proxy-image (1).jpg" alt="no_pic"/>
                            <span class="price">100$</span>
                            <button class="btn btn-warning m-auto w-25">join Now!</button>
                        </div>
                    </div>
                    <!-- end-box-->
                </div>
                <!-- end row -->
            </div>
        </div>
        <!-- end courses -->
     </div>
</div>
<!--end exclusive courses -->
