<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner position-relative">
      <div class="overlap position-absolute"></div>
      <div class="carousel-item active position-relative">
        <img src="../../../assets/Images/1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item position-relative">
        <img src="../../../assets/Images/3.jpg" class="d-block w-100 " alt="...">
      </div>
      <div class="carousel-item position-relative">
        <img src="../../../assets/Images/2.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <div class="homeText">
       <h1>Live Academy</h1>
       <p>"people expect to be bored by elearning -- let's show them it doesn't have to be like that!"</p>
       <div class="btns">
           <button>JOIN US</button>
           <button>show video</button>
       </div>
    </div>
</div>
<!---  start of who we are -->
<section class="who-we-are">
  <div class="container">
    <div class="who_we_are">
      <img src="../../../assets/Images/proxy-image (7).jpg" class="image_who_we" alt="no_pic"/>
      <h3>Who We Are?</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos distinctio id debitis quae cum blanditiis architecto, porro consectetur animi. Laudantium in veritatis vero dignissimos error laboriosam? Incidunt, vitae. Voluptates, pariatur.</p>
      <button>Know Us More!</button>
    </div>
  </div>
</section>
<!-- end of who we are -->
<!-- start of application -->
<section class="application">
    <div class="container">
        <div class="row">
          <!-- start app -->
              <div class="app">
                <div class="overlap-app">
                  <div class="overlap-box">
                    <div class="overlap-text">
                      <h3>application</h3>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci.</p>
                      <button>know more!</button>
                     </div>
                  </div>
                </div>
                <img src="../../../assets/Images/Chemistry.png" alt="no-pic"/>
              </div>
          <!-- end app -->
          <!-- start app -->
              <div class="app">
                <div class="overlap-app">
                  <div class="overlap-box">
                    <div class="overlap-text">
                      <h3>application</h3>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci.</p>
                      <button>know more!</button>
                     </div>
                  </div>
                </div>
                <img src="../../../assets/Images/Computer.png" alt="no-pic"/>
              </div>
          <!-- end app -->
          <!-- start app -->
              <div class="app">
                <div class="overlap-app">
                  <div class="overlap-box">
                    <div class="overlap-text">
                      <h3>application</h3>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci.</p>
                      <button>know more!</button>
                     </div>
                    </div>
                  </div>
                <img src="../../../assets/Images/Mathematics.png" alt="no-pic"/>
              </div>
          <!-- end app -->
          <!-- start app -->
              <div class="app">
                <div class="overlap-app">
                  <div class="overlap-box">
                    <div class="overlap-text">
                      <h3>application</h3>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci.</p>
                      <button>know more!</button>
                     </div>
                  </div>
                </div>
                <img src="../../../assets/Images/Design.png" alt="no-pic"/>
              </div>
          <!-- end app -->
        </div>
        <div class="row">

          <!-- start app-->
            <div class="app">
              <div class="overlap-app">
                <div class="overlap-box">
                  <div class="overlap-text">
                    <h3>application</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci.</p>
                    <button>know more!</button>
                   </div>
                </div>
              </div>
              <img src="../../../assets/Images/Science.png" alt="no-pic"/>
            </div>
            <!-- end-app -->

            <!-- start app-->
            <div class="app">
              <div class="overlap-app">
                <div class="overlap-box">
                  <div class="overlap-text">
                    <h3>application</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci.</p>
                    <button>know more!</button>
                   </div>
                </div>
              </div>
              <img src="../../../assets/Images/Technology.png" alt="no-pic"/>
            </div>
            <!-- end app-->

            <!-- start app -->
            <div class="app">
              <div class="overlap-app">
                <div class="overlap-box">
                  <div class="overlap-text">
                    <h3>application</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci.</p>
                    <button>know more!</button>
                   </div>
                 </div>
                </div>
              <img src="../../../assets/Images/Chemistry.png" alt="no-pic"/>
            </div>
            <!-- end app-->
            
            <!-- start app -->
            <div class="app">
              <div class="overlap-app">
                <div class="overlap-box">
                  <div class="overlap-text">
                    <h3>application</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci.</p>
                    <button>know more!</button>
                   </div>
                  </div>
                </div>
              <img src="../../../assets/Images/Psychology.png" alt="no-pic"/>
            </div>
            <!-- end app -->
        </div>
    </div>
</section>
<!-- end of application -->
<!-- start online journey-->
<section class="start_journey">
  <div class="container">
    <h3>Start Your Online Journey Now</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quaerat.</p>
    <button>join courses</button>
  </div>
</section>
<!-- end online journey -->
