
<nav class="navbar navbar-light bg-dark">
  <div class="container-fluid">
    <div class="d-flex justify-content-end">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="clear()">Add Question</button>
    </div>
  </div>
</nav>

<div class="table-responsive mt-4">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">S.Id</th>
        <th scope="col">Question</th>
        <th scope="col">Type</th>
        <th scope="col">Option1</th>
        <th scope="col">Option2</th>
        <th scope="col">Option3</th>
        <th scope="col">Answer</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dt of ques_api; let i = index">
        <td>{{i + 1}}</td>
        <td>{{dt.question}}</td>
        <td>{{dt.type}}</td>
        <td *ngFor="let option of dt.options">{{option}}</td>
        <td>{{dt.answer}}</td>
        <td>
          <button class="btn btn-info mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="Edit(dt)">Edit</button>
          <button class="btn btn-danger" (click)="Delete(dt.id);refresh();">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg"> <!-- Add modal-lg for larger screens -->
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">EXAMINATION SYSTEM</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="myGroup">
          <div class="mb-3">
            <label for="question" class="form-label">Question</label>
            <input type="text" formControlName="question" [(ngModel)]="question.question" class="form-control" id="question" />
          </div>
          <div class="mb-3">
            <label for="type" class="form-label">Type</label>
            <input type="text" formControlName="type" [(ngModel)]="question.type" class="form-control" id="type" />
          </div>
          <div class="mb-3" *ngFor="let option of question.options; let index = index">
            <label [for]="'option' + (index + 1)" class="form-label">Option{{index + 1}}</label>
            <input type="text" [formControlName]="'option' + (index + 1)" [(ngModel)]="question.options[index]" class="form-control" [id]="'option' + (index + 1)" />
          </div>
          <div class="mb-3">
            <label for="answer" class="form-label">Answer</label>
            <input type="text" formControlName="answer" [(ngModel)]="question.answer" class="form-control" id="answer" />
          </div>
        </form>
      </div>
      <div class="modal-footer bg-primary">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="Add();refresh();">Add</button>
        <button type="button" class="btn btn-success" (click)="Update();refresh();">Edit</button>
      </div>
    </div>
  </div>
</div>
