.navbar{
    background-color:var(--main-color);
    height:80px;
}
nav  a {
    color:var(--white-color);
}
nav button{
    background-color: transparent;
    border:2px solid var(--lightGray-color);
}

@media (max-width: 991px) {
    nav a {
        color:black;
    }
}